
@{
    ViewBag.Title = "ListOfferte";
}

<h2>Offerte</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="nome">Nome</th>
            <th class="headField">Descrizione</th>
            <th class="headField">Data Inizio</th>
            <th class="headField">Data Fine</th>
            <th class="headField"></th>
            <th class="headField"></th>
            <th class="headField"></th>
        </tr>
    </thead>
    <tbody id="listaOffertePI"></tbody>
</table>

<script src="~/Scripts/listOfferte.js"></script>