#imagesContainer div div {
    text-align :center;
}

#imagesContainer div div img {
    width:auto;
    height:150px;
    padding-top:0px;
}

 #map-canvas {
        width: 100%;
        height: 400px;
      }
