.title {
    margin-top:10px;
    margin-bottom:40px;
}
#addPIButton {
    margin-top:10px;
    margin-bottom:40px;
    width:100%;
}
.imageRow {
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
  padding-top: 10px;
}
#insertImageRow {
  padding-top: 20px;
}